.checkbox{
    color:red;
}
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #9c0343 ;
    border-color: #9c0343 ;
    color: #fff;
    border-radius:20px;
  }
  .pagination > li > a{
    
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius:20px;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #bd053c ;
    border-color: #bd053c;
    border-radius:20px;
  
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #bd053c
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 20px;
  }